<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wowo.wowo_manager">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="wowo.wowo_manager.Data.SaveValues"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoadingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".User.LoginActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".User.RegisterActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Push.PushActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".List.List"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".WifiList.WifiScan"
            android:screenOrientation="portrait"></activity>
    </application>


</manifest>
